a.exe
calc.exe
circular_queue
compare.exe
copy_2.exe
copy.exe
gcd.exe
harshad.exe
heap_sort
insertion_sort.exe
io.exe
kmp.exe
matrix_mult.exe
myfile.txt
pallindrome.exe
pattern1.exe
pattern2.exe
pattern3.exe
pattern4.exe
pattern5
pattern5.exe
pattern6.exe
pointer.exe
root.exe
selection_sort.exe
stack_using_array
stack_using_linkedList
structs.exe
swap_p.exe
uppercase1.exe
2D Array/transpose.exe
2D Array/zero_one.exe
C++/p1.exe
C++/p2.exe
C++/p3.exe
C++/p4.exe
C++/p5.exe
C++/p6.exe
linked list/CLL.exe
linked list/DLL.exe
linked list/infix_postfix.exe
linked list/SLL
linked list/SLL.exe
Trees/BST.exe
